body{
	text-align: center;
}
.re-render{
	display: inline;
	cursor: pointer;
}
#tooltip{
	display: flex;
	position: absolute;
	padding: 10px;
	background: white;
	box-shadow: 10px 10px 20px 5px;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	text-align: center;
}